body {
	background-size: 100% 100%;
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif
	color: #666666;
	/*background-image: url('images/nature-background.jpg');*/
	background-repeat: no-repeat;
}
h2 {
	border-radius: 5px;
	box-shadow: 3px 3px 3px #808080;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-variant: small-caps;
	text-transform: capitalize;
	color: #5C743D;
	background-color: #D5ECB3;
	background-image: url('images/trilliumbg.gif');
	background-repeat: no-repeat;
	padding-left: 30px;
}
ul {
	list-style-image: url('images/trillium.gif');
}
footer {
	border-radius: 10px;
	box-shadow: 3px 3px 3px #808080;
	background-color: #5C743D;
	color: #FFFFFF;
	background-image: url('images/trilliumfoot.gif');
	background-repeat: no-repeat;
	background-position: right;
	height: 80px;
	padding-left: 4px;
}
#copyright {
	font-size: x-small;
}
footer a {
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
}
a:hover {
	color: #5C743D;
	background-color: #D5ECB3;
}
#allPage {
	padding: 10px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #D1ECB9;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	/*background-color: #BDDF5E;
	opacity: 0.8;*/
}
h1 {
	border-radius: 10px;
	box-shadow: 3px 3px 3px #808080;
	background-image: url('images/trilliumminibanner.jpg');
	background-repeat: no-repeat;
	background-color: #D5ECB4;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 3em;
	font-weight: 900;
	color: #5C743D;
	padding-left: 130px;
	height: 68px;
	padding-top: 15px;
}
header a {
	color: #5C743D;
	text-decoration: none;
	padding: 3px;
}
nav li {
	display: inline;
}
nav ul {
	padding-left: 0px;
}
#buttons {
	display: none;
}
