h1 {
	background-image: url('images/trilliumbanner.jpg');
	height: 86px;
	background-repeat: no-repeat;
	background-color: #D5ECB3;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	background-image: url('images/trilliumgradient.png');
}
h2 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-variant: small-caps;
	text-transform: capitalize;
	color: #5C743D;
	background-image: url('images/trilliumbg.gif');
	background-repeat: no-repeat;
	background-color: #D4EEB4;
	padding-left: 30px;
}
ul {
	list-style-image: url('images/trillium.gif');
}
footer {
	background-color: #5C743D;
	color: #FFFFFF;
	background-image: url('images/trilliumfoot.gif');
	background-repeat: no-repeat;
	background-position: right;
	height: 80px;
	padding-left: 3px;
}
#copyright {
	font-size: x-small;
}
a {
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 3px;
	padding-left: 3px;
}
a:hover {
	background-color: #D5ECB3;
	color: #5C743D;
}
#allPage {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
